.back-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
body {
    background-color: #06152e;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    margin-top: 35px;
    margin-bottom: 45px;
}
.project-card {
    width: 300px;
    height: 281px;
    background-color: #48699e;
    text-align: center;
    box-shadow: 2px 2px 1px black;
    margin: 40px;
    display: inline-block;
}
.logo {
    padding: 20px 0px 10px 0px;
}
.logo-image {
    border-radius: 100%;
}
.title {
    font: 20px "Courier New", monospace;
    padding: 10px 0px 0px 0px;
    color: white;
    text-decoration: ;
}
.subtitle {
    font: 15px "Courier New", monospace;
    color: lightgrey;
    padding: 2px 0px 5px 0px;
}
.tags {
    background-color: #304e7e;
    font: 13px "Courier New", monospace;
    color: bisque;
    padding: 2px 10% 2px 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.project-link {
    color: lightpink;
    font-weight: bold;
    text-decoration: overline;
}

.project-title {
    color: white;
    font: 43px "Courier New", monospace;
    text-align: center;
    margin-bottom: 4px;
}

.project-subtitle {
    color: white;
    text-align: center;
    font: 20px "Courier New", monospace;
    margin-bottom: 20px;
}

.project-separator {
    border-bottom: solid white 1px;
    width: calc(50% - 105px);
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 0px 10px;
}

.project-separator-short {
    border-bottom: solid white 1px;
    width: calc(10%);
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 0px 10px;
}

.project-logo {
    display: inline-block;
    vertical-align: middle;
}

.project-logo-section {
    text-align: center;
}

.project-description {
    min-width: 400px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: white;
    font: 18px "Courier New", monospace;
}
.project-description-footer {
    background-image: url('signature.png');
    height: 118px;
    background-repeat: no-repeat;
    background-position: right;
    width: 66%;
    margin-left: auto;
    margin-top: -29px;
    margin-right: auto;
}
