<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
<body>
    <div class="project-row">
        <div class="project-card">
            <div class="logo">
                <a href="{{ url_for('route_selfkirk') }}">
                    <img src="{{ url_for('static', filename='selfkirk.png') }}" class="logo-image">
                    </a>
                </div>
            <div class="title">
                Selfkirk
                </div>
            <div class="subtitle">
                A Simple Portfolio Website
                </div>
            <div class="tags">
                Website Python Flask HTML CSS
                </div>
            </div>
        <div class="project-card">
            <div class="logo">
                <img src="{{ url_for('static', filename='scholark.png') }}">
                </div>
            <div class="title">
                Scholark
                </div>
            <div class="subtitle">
                My Learnings across Projects
                </div>
            <div class="tags">
                Blog Github
                </div>
            </div>
        </div>
</body>